<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet">
    <link href="~/Content/Enhanced.css" rel="stylesheet" media="screen and (min-width: 65em)">
    <link rel="stylesheet" href='~/Scripts/plugins/export/export.css' type='text/css' media='all' />
    <link rel="apple-touch-icon" sizes="57x57" href="~/Favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Favicon/favicon-16x16.png">
    <link rel="manifest" href="~/Favicon/manifest.json">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/optikoud.ajax.js" type="text/javascript"></script>
    <script src="~/Scripts/optikoud.popup.js" type="text/javascript"></script>
    <script src="~/Scripts/optikoud.message.js" type="text/javascript"></script>
    <script src="~/Scripts/optikoud.validator.js" type="text/javascript"></script>
    <script src="~/Scripts/optikoud.loading.js" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
    <script>
        $('input').attr('autocomplete', 'off');
        $('textarea').attr('autocomplete', 'off');

        $(window).load(function () {
            @if (ViewBag.Message != null)
            {
                <text>showMessage('@ViewBag.Message', null);</text>
            }
        });
    </script>
</body>
</html>
